/*
Inverse Triangle Methodology
A-BEM | Atomaic - Block Element Modifier
Camel Case

o - objects
c - components
p - pages
*/
@import './NavBar.module.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

@layer base {
    h1 {
        @apply text-5xl font-bold;
    }
    h2 {
        @apply text-4xl font-bold;
    }
    h3 {
        @apply text-xl font-semibold;
    }
    h4 {
        @apply text-lg font-medium;
    }
    h5 {
        @apply text-base font-medium;
    }
}