html, body {
    padding: 0;
    margin: 0;
    font-size: $s-font--size--base;
    min-height: 100vh;
    max-height: 100vh;
    font-family: $s-font--default;
    color: $s-color--darkGrey;
    line-height: 1.25;
}