 $s-gutter--base: 0.5rem;

 $s-gutter--xsmall: $s-gutter--base;
 $s-gutter--small: $s-gutter--base * 3;
 $s-gutter--medium: $s-gutter--base * 6;
 $s-gutter--large: $s-gutter--base * 10;
 $s-gutter--xlarge: $s-gutter--base * 20;
 